// Mobile
@media (max-width: 767px) {
  .consultation {
    .consultation__item:not(:last-of-type) {
      margin-bottom: 40px;
    }

    .container {
      padding: 0 18px;
    }
  }
}

// Tablet
@media (min-width: 768px) {
  .consultation {
    .container {
      max-width: 660px;
    }

    .section__header {
      font-size: 30px;
      max-width: 580px;
      margin-bottom: 36px;
    }

    .consultation__list {
      flex-direction: row;
      justify-content: space-around;
      max-width: 90%;
      padding: 0;
    }

    .consultation__item {
      max-width: 228px;
      margin-bottom: 0;
    }

    .consultation__item:not(:last-of-type) {
      margin-right: 20px;
    }

    .item__numbering {
      font-size: 70px;
      top: -54px;
    }

    .button {
      padding: 20px 0;
      max-width: 532px;
      text-transform: none;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

// Desktop
@media (min-width: 1440px) {
  .consultation {
    .container {
      max-width: 1170px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .section__header {
      font-size: 48px;
      // max-width: 600px;
      margin-bottom: 100px;
      text-align: center;
      width: 100%;
      margin: 0 auto 90px;
    }

    .consultation__list {
      flex-direction: row;
      justify-content: space-between;
    }

    .consultation__item {
      max-width: 30%;
      padding-bottom: 60px;
    }

    .item__numbering {
      font-size: 150px;
      top: -115px;
    }

    .item__text {
      font-size: 18px;
      font-family: $font_acrom;
      color: $color_black;
      line-height: 35px;
      text-align: left;
    }

    .button {
      padding: 30px 0;
      max-width: 810px;
      text-transform: none;
      font-size: 25px;
      line-height: 1.2;
    }
  }
}
