$color_grey:      rgb(237, 240, 242);
$color_black:     rgb(34,34,34);
$color_white:     rgb(255,255,255);
$color_aqua:      rgb(0, 234, 255);
$color_fon:       #181c27;
$color_yellow:    #f9ae22;
$color_greybark:  #717171;
$color_greylight: #a2a2a2;
$color_button:    #ff6b08;

$font_acrom: "Acrom", sans-serif;
$font_msr: "Montserrat", sans-serif;