$color_grey: rgb(237, 240, 242);
$color_black: rgb(34,34,34);
$color_white: rgb(255,255,255);
$color_aqua: rgb(0, 234, 255);
$color_lightgrey:rgb(252, 252, 251);
$font_acrom: "Acrom", sans-serif;
$font_msr: "Montserrat", sans-serif;