// Tablet
@media (min-width: 768px) {
  .advice__title {
    font-size: 30px;
    line-height: 40px;
  }

  .advice__item {
    margin-bottom: 51px;
  }

  .advice__list {
    padding-left: 40px;
  }

  .advice__text {
    font-size: 16px;
    line-height: 22px;
  }
}

//Desktop
@media (min-width: 992px) {
  .advice {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  .advice__title {
    width: 488px;
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    padding-top: 120px;
  }

  .advice__item {
    width: 555px;
    padding-top: 120px;
  }

  .advice__list{
    padding-left: 70px;
  }

  .advice__text {
    font-size: 18px;
    line-height: 30px;
  }
}
